@model Animal_Rental.Models.Animals

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animals</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birth_Certificate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birth_Certificate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Animal_Images)
        </dt>
        @* <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Animal_Images)
        </dd> *@
        @{
            var base64 = Convert.ToBase64String(Model.Animal_Images);
            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

        }
        <img src="@imgsrc" style="max-width: 100px; max-height: 100px" />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.A_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
